body{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
.contaiBox{
    background-color: antiquewhite;
    /* position: fixed;
    
    left: 34%; */
    margin-top: 200px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 19px rgb(235, 234, 234);
}
span{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    margin-right: 10px;
}


@media (max-width:560px) {
    span{
        font-size: 30px;
        margin-right: 5px;
    }
    H1{
        font-size: 30px;
        
    }
}
@media (max-width:357px) {
    span{
        font-size: 20px;
    }
    H1{
        font-size: 20px;        
    }
}